# Compile this file with:
#   pip-compile --output-file=requirements.dev.txt requirements.dev.in --resolver=backtracking
#
# Then install with
#   pip install -r requirements.dev.txt

black
ipykernel
lightning
line_profiler
matplotlib
mypy
nbdev
numpy
pip-tools
seaborn
scikit-learn
sympy
torch
torchvision
tqdm
types-requests
types-tqdm